<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zeph7.gravity">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_gravity"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_gravity"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.PlanetInfoActivity">
        </activity>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WeightActivity">
        </activity>
        <activity android:name=".activity.PlanetActivity">
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>